html {
  height: 100%;
  width: 100%;
}

body {
  display: contents;
}

.nav {
  float: right;
  color: #696969;
  margin: 10px;
}

.nav>a {
  text-decoration: none;
  color: #696969;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 5px;
}

.nav>a:hover {
  text-decoration: underline;
}

.nav>button {
  all: unset;
  padding: 5px;
  border-radius: 100px;
}

.nav>button:hover {
  background-color: #F2F2F2
}

.main {
  margin-top: 250px;
  text-align: center;
}

input {
  width: 561px;
  height: 44px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
}

.input-area {
  margin-top: 20px;
}

.search-icon {
  position: relative;
  left: 40px;
  color: #9aa0a6;
}

.mic-icon {
  position: relative;
  right: 40px;
  color: #9aa0a6;
}

.button-area {
  padding-top: 18px;
}

.button-style {
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-family: arial, sans-serif;
  padding: 0 16px;
  margin: 11 4px;

}

.button-style:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 /10%);
  border: 1px solid #c8c8c8;
}

.language-area {
  margin-top: 20px;
  font-family: arial, sans-serif;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: #EBEBEB;
  width: 100%;

}

.first-line {
  padding: 10px 30px;
  border-bottom: 1px solid #dadce0;
  color: #696969;
  margin: 5px;
}

.second-line {
  padding: 10px 30px;
  color: gray;
  text-decoration: none;
}

span>a {
  text-decoration: none;
  margin: 5px;
  color: gray;
}

span>a:hover {
  text-decoration: underline;
}

.second-line-second {
  float: right;
}